section {
    background-color: antiquewhite;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

label {
    display: block; 
}

h2 {
    text-align: center; 
}

.form-status-order {
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
label {
    display: inline-block;
}
@media screen and (max-width: 700px) {
    .customer-input {
        flex-direction: column;
    }
    label {
        max-width: 100%;
        height: auto; 
        display: block;
    }
    fieldset {
        height: auto;
    }
    .div-pizza {
        height: auto;
    }
    .div-input {
        width: auto; 
        text-align: left;
    }
}