html, body {
    background-color: bisque;
}

label {
    display: block; 
}

h2 {
    text-align: center; 
}

.form-status-order {
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 30px;
}