h2 {
    text-align: center;
}

/** left-side-div **/
#pizzen {
    height: 100%;
}
#left-side-div {
    width: 40%;
    height: 100%;
    float: left;
}
.pizza {
    width: 100%; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    border: 1px solid;
    display: flex; 
    align-items: center;
}
.selected {
    background-color: gainsboro;
}
.pizzaText {
    color: red;
    display:inline-block; 
}
.div-pizza-image {
    height: 20%; 
    width: 50%;
}
.pizzaImage {
    height: 100%; 
    width: 70%;
}

/** right side div **/ 
#right-side-div {
    width: 50%; 
    float: right;
    height: 100%; 
}
#div-cart {
    height: 40%; 
}
#cart {
    border: solid 1px; 
    background-color: beige; 
}
#div-customer {
    height: 50%;
}
#totalPrice {
    height: 10%;
}

.buttons {
    text-align: center;
}
.button {
    margin: 10px; 
    height: 3em; 
    width: 12em;
}
#send {
    background-color: greenyellow; 
    font-weight: bold;
}
#input-delete {
    background-color: gold; 
    font-weight: bold;
}
.form-input {
    margin-top: 10px; 
    margin-bottom: 10px;
    width: 98%; 
    height: 3em;
}

@media screen and (max-width: 600px) {
    .button {
        width: 8em;
    }

    section {
        display: flex; 
        flex-direction: column; 
    }
    #pizzen {
        height: 80% !important;
    }
    #left-side-div {
        width: 100%;
        margin-top: -50px;
    }

    #right-side-div {
        width: 100%;
        height: 100%; 
        background-color: antiquewhite;
        min-height: 100%;
    }
    
    #div-customer {
        background-color: antiquewhite;
        height: auto !important;
    }
    .buttons {
        display: flex; 
    }
}