label {
    display: block;
}
h2 {
    text-align: center;
}
.div-driver {
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 30px;
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .div-driver {
        flex-direction: column; 
    }
    html {
        font-size: 30px;
    }
}