html, body {
    height: 100%; 
    font-family: 'Gloria Hallelujah', cursive, sans-serif;
}
body {
    background: url(../images/background1.jpg) no-repeat center center fixed;
    background-size: cover; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100%; 
}
/* navbar */
ul.topnav {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    min-height: 4em;
    display: flex; 
    align-items: center; 
}
ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
section {
    background-color: antiquewhite;
    width: 72%;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    ul.topnav {
        flex-direction: column;
        height: 100%; 
    }
    ul.topnav li {
        float: none; 
    }
    section {
        display: flex; 
        flex-direction: column;
        justify-content: end;
        height: 100%;
    }
}